putting-more-cards-on-the-table-2014/f.xml

<?xml version="1.0"?>
<!-- $Id: testSuite.rng,v 1.12 2003/01/29 12:24:07 jjc Exp $ -->
<grammar xmlns="http://relaxng.org/ns/structure/1.0"
    datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
    <start>
        <element name="article">
            <element name="head">
                <empty/>
            </element>
            <element name="sections">
                <oneOrMore>
                    <ref name="sect" />
                </oneOrMore>
            </element>
        </element>
    </start>
</grammar>
